html, body { margin:0; padding:0; overflow:hidden }
svg { position:fixed; top:0; left:0; height:100%; width:100% }

#resources polygon {
  	stroke: black;
  	stroke-width: 10;
}

.token {
	fill: khaki;
	stroke: black;
	stroke-width: 3;
}

.token:hover {
	opacity: .5;
}

text {
	fill: black;
	text-align: center;
	text-anchor: middle;
	dominant-baseline: central;
	font-family: serif;
	font-size: 30px;
}

path {
	stroke-linecap: round;
	stroke-width: 20;
}

.hills {
  	fill: #EBB;
}

.forest {
  	fill: #BEB;
}

.fields {
  	fill: #EEB;
}

.pasture {
  	fill: #BEE;
}

.quarry {
  	fill: #BBB;
}

.desert {
  	fill: #EEE;
}

#ocean {
  	fill: #49B;
}

#buildings {
	fill: grey;
	stroke: white;
	stroke-width: 3;
}

#buildings .unowned {
	opacity: 0;
}

#buildings .unowned:hover {
	opacity: 1;
	fill: inherit;
	stroke: inherit;
	stroke-width: inherit;
}

#buildings .city-p1 {
	fill: hotpink;
	stroke: inherit;
	stroke-width: inherit;
}

#buildings .city-p2 {
	fill: blue;
	stroke: inherit;
	stroke-width: inherit;
}

#buildings .city-p3 {
	fill: purple;
	stroke: inherit;
	stroke-width: inherit;
}

#buildings .city-p4 {
	fill: orange;
	stroke: inherit;
	stroke-width: inherit;
}