html, body { margin:0; padding:0; overflow:hidden }
svg { position:fixed; top:0; left:0; height:100%; width:100% }

#tiles polygon {
  	stroke: black;
  	stroke-width: 5;
}

.token {
	stroke: black;
	stroke-width: 3;
}

.token circle {
	fill: khaki;
}

.token:hover {
	opacity: .5;
}

.token text {
	text-align: center;
	text-anchor: middle;
	dominant-baseline: central;
	font-family: serif;
	font-size: 32px;
	pointer-events: none;
}

path {
	stroke-linecap: round;
	stroke-width: 10;
}

.hills {
  	fill: #EBB;
}

.forest {
  	fill: #BEB;
}

.fields {
  	fill: #EEB;
}

.pasture {
  	fill: #BEE;
}

.quarry {
  	fill: #BBB;
}

.desert {
  	fill: #EEE;
}

#ocean {
  	fill: #49B;
}

#buildings {
	fill: grey;
	stroke: white;
	stroke-width: 3;
}

#buildings .unowned {
	opacity: 0;
}

#buildings .unowned:hover {
	opacity: 1;
}

#buildings .city-p1 {
	fill: hotpink;
}

#buildings .city-p2 {
	fill: darkgreen;
}

#buildings .city-p3 {
	fill: darkpurple;
}

#buildings .city-p4 {
	fill: darkred;
}