extends layout

block content
  form.form-horizontal
    fieldset
      legend New Game Form
      .control-group
        label.control-label Board Size
        .controls
          label.radio.inline
            input(type='radio', name='board', value='Basic', checked='checked')
            | Basic
          label.radio.inline
            input(type='radio', name='board', value='Expansion', disabled='')
            | Expansion
      .control-group
        label.control-label Player Count
        .controls
          label.radio.inline
            input(type='radio', name='players', value='4', checked='')
            | 4
          label.radio.inline
            input(type='radio', name='players', value='3')
            | 3
      .control-group
        label.control-label Victory Condition
        .controls
          label.radio.inline
            input(type='radio', name='victory', value='10', checked='')
            | 10
          label.radio.inline
            input(type='radio', name='victory', value='12')
            | 12
      .control-group
        label.control-label Visibility Level
        .controls
          label.radio.inline
            input(type='radio', name='visibility', value='Public', checked='')
            | Public
          label.radio.inline
            input(type='radio', name='visibility', value='Private', disabled='')
            | Private
      .control-group
        label.control-label Password Protection
        .controls
          input#gamepassword.span3(name='password',
          type='text',
          placeholder='password')
          p.help-block If public and password protected,<br/> foriegn players can request to join
      //-.control-group
        label.control-label Invite
        .controls
          .input-prepend
            span.add-on @
            input#invitation.span3(name='invite-user', placeholder='twitter', type='text', data-provide='typeahead')
          p.help-block Invite players to private, hidden game
      //-.control-group
        label.control-label Shuffle
        .controls
          input#gameseed.span3(name='gameseed', type='text', placeholder='random seed')
          p.help-block Shuffle development cards
      //-.control-group
        label.control-label Webpage Title
        .controls
          input#webtitle.span3(name='title', type='text', placeholder='Settlers of Caten')
      .control-group
        label.control-label Game Board
        .controls
          select#profile.span3(name='profile')
            option Classic
            option Standard
            option(selected='') Random
            option Maverick
            option Full Metal Jacket
      .control-group
        label.control-label Placement Order
        .controls
          select#placementorder.span3(name='placement')
            option(selected="") Randomized
            option Join
            option Seat
      .control-group
        label.control-label Seat Sequence
        .controls
          select#seatsequence.span3(name='seats')
            option(selected="") Randomized
            option Join
            option Reversed Join
            option Select
      //-.control-group
        label.control-label Tweets
        .controls
          .btn-group(data-toggle='buttons-checkbox')
            button#hubris.btn(type='button', disabled='') Hubris
            button#shame.btn(type='button', disabled='') Shame
            button#social.btn(type='button', disabled='') Social
      //-.control-group
        label.control-label Chat
        .controls
          .btn-toolbar
            .btn-group(data-toggle='buttons-checkbox')
            button#keyboard.btn(type='button') Keyboard
            button#voice.btn(type='button', disabled='') Voice
            .btn-group
            button#silence.btn(type='button', data-toggle='radio') Silence
      .control-group
        label.control-label Turn Timer
        .controls
          .container-row.span3
            input#turntimer.span1(name='timer', type='tel', value='0')
            select.span2
              option(selected="") seconds
              option minutes
              option hours
              option days
      .control-group
        label.control-label Turn Assist
        .controls
          select#turnassist.span3(name='assist')
            option Alert
            option(selected="") Automatic
            option None
      .control-group
        label.control-label Turn Reminder
        .controls
          select#turnassist.span3(name='reminder')
            option Alert
            option(selected="") Voting
            option Strict
            option None
      .control-group
        label.control-label Ready? Set?
        .controls
        button#submitform.btn.btn-info.span3(name='submitform',
          type='submit',
          method='POST') Go!
