extends layout

block content
	h1(align="center") Settlers of the Hood
	.row-fluid
		.span10.offset1
			svg#board
				g#ocean
				g#harbors
				g#hexes
				g#roads
				g#buildings
	script(type="text/javascript", src="build.js")
