extends layout

block content
	h1(align="center") Settlers of Catan
	.row-fluid
		.span10.offset1
			svg#board
				g#ocean
				g#harbors
				g#hexes
				g#roads
				g#buildings
	ul.unstyled.inline-block
		li: a.btn.btn-inverse(href='/roll') Roll
		li: button.btn.btn-inverse Build
		li: button.btn.btn-inverse Pass
	script(type="text/javascript", src="test.js")
	script(type="text/javascript", src="build.js")
