extends layout

block append head 
  style(type="text/css") html, body {height: 100%;}

block content
  .container-fluid
    .navbar
      .navbar-inner
        ul.unstyled.nav
          li: a(onclick="rolldice()") Roll
          li: a(onclick="buybuild()") Build
          li: a(onclick="offertrade()") Trade
          li: a(onclick="passdice()") Pass
          li: a(href="#modal-credits") Credits
    .row-fluid
      .span10
        svg#board
          g#ocean
          g#harbors
          g#hexes
          g#roads
          g#buildings
      .span2
        include stats
        include stats
        include stats
        include stats