extends layout

block content
	h1(align="center") Settlers of Caten
	.row-fluid
		.span10.offset1
			svg#board
				g#ocean
				g#harbors
				g#hexes
				g#roads
				g#buildings
	ul.unstyled.inline-block
		li: a.btn.btn-inverse(onclick='rolldice()') Roll
		li: button.btn.btn-inverse(onclick='buybuild()') Build
		li: button.btn.btn-inverse(onclick='offertrade()') Trade
		li: button.btn.btn-inverse(onclick='passdice()') Pass
	script(type="text/javascript", src="socks.js")
