extends layout

block content
	h1(align="center") Settlers of Catan
	.row
		.span10.offset1
			svg#board
				g#seaframe
				g#harbors
				g#hexes
				g#roads
				g#buildings
	p This is the standard basic game.
	script(type="text/javascript", src="build.js")
