extends layout

block content
  .container-fluid
    .navbar.navbar-inverse
      .navbar-inner
        ul.unstyled.nav.pull-left
          li: a(href="#roll",onclick="rolldice()") Roll
          li: a(href="#buy",onclick="buybuild()") Build
          li: a(href="#offer",onclick="offertrade()") Trade
          li: a(href="#pass",onclick="passdice()") Pass
        a.brand(style="position:absolute;text-align:center;width:50%;left:25%;",
          href="#modal-credits") Settlers of Caten
        form.navbar-search.pull-right
          input.search-query(type="text",placeholder="Chat")
    .row-fluid
      .span8.offset2
        svg#board
          g#ocean
          g#harbors
          g#hexes
          g#roads
          g#buildings
      #player-northwest.pull-NW
        include stats
      #player-southwest.pull-SW
        include stats
      #player-northeast.pull-NE
        include stats
      #player-southeast.pull-SE
        include stats