extends layout

block content
  .container-narrow
    .masthead
      ul.nav.nav-pills.pull-right
        li: a(href='/login') Login
      h3.muted
        a.brand(data-toggle="modal",
          data-target="#credits",
          role="button") #{title}
    hr
    .jumbotron
      h1 Welcome!
      p.lead This is the frontpage for the Caten project.<br>Look around for a brief while, then join in on the fun!
      .btn-toolbar
        a.btn.btn-large.btn-success(href="/demo") Demo
        a.btn.btn-large.btn-primary(href="/new") New game
    hr
  .footer
    .container-narrow
      p.muted.credit
        a(href='http://www.github.com/betovar/caten#license',
        style='text-decoration:none;') © Brian Tovar 2013
  link(rel='stylesheet', href='stylesheets/homepage.css')
  include credits