extends layout

block content
	.jumbotron
		.container
			.row
				.col-sm-10
					h1 Welcome!
					img.pull-right(src='/logo.svg', height='150px', style='display:block; margin:auto;')
					p.lead This is the frontpage for the Caten project. Look around for a brief while, then join in on the fun!
					p.btn-toolbar
						a.btn.btn-large.btn-primary(href='/new') New game
						a.btn.btn-large.btn-success(href='/demo') Demo
