extends layout

append head
	script(src="/socket.io/socket.io.js")

block content
	.row-fluid
		.span12
			h1 Welcome to Caten!
			.alert.alert-info.span6.offset3
				button.close(type="button",data-dismiss="alert")
					&times;
				p This is the game staging area. Start your own game or join one.
				p Remember to login if you haven't already done so.
	.row-fluid
		include samplegame
		include samplegame
		include samplegame
		include samplegame
		include samplegame
		include samplegame
		include samplegame
		include samplegame

block scripts
	script.
		var socket = io.connect();