a(href='#login', rel='popover', data-toggle='popover', data-placement='bottom', data-trigger='click', data-original-title='Choose a Username', data-html='true',
data-content='<a href="/auth/twitter"><img src="/auth/twitter.png"></img></a>') Log In