extends layout

block content
  .row
    .col-sm-4.col-sm-offset-4
      a.btn.btn-default.btn-block(href='/auth/twitter')
        img(src='/auth/sign-in-with-twitter-link.png') Twitter
      a.btn.btn-default.btn-block(href='/auth/dropbox', disabled='') Dropbox
      a.btn.btn-default.btn-block(href='/auth/github', disabled='') Github
      a.btn.btn-default.btn-block(href='/auth/instagram', disabled='') Instagram
      a.btn.btn-default.btn-block(href='/auth/google', disabled='') Google
      a.btn.btn-default.btn-block(href='/auth/pocket', disabled='') Pocket
