extends layout

block content
  .container-narrow
    .masthead
        ul.nav.nav-pills.pull-right
          li: a(href='/') Home
        h3.muted
          a.brand(data-toggle="modal",
            data-target="#credits",
            role="button") #{title}
    ul.unstyled
      li: a.btn.btn-block(href="/auth/twitter")
        img(src="/auth/sign-in-with-twitter-link.png") Twitter
      li: a.btn.btn-block(href="/auth/twitter")
        img(src="/auth/sign-in-with-twitter-link.png") Twitter
      li: a.btn.btn-block(href="/auth/twitter")
        img(src="/auth/sign-in-with-twitter-link.png") Twitter
      li: a.btn.btn-block(href="/auth/twitter")
        img(src="/auth/sign-in-with-twitter-link.png") Twitter