nav.navbar.navbar-default(role='navigation')
	.navbar-header
		button.navbar-toggle(type='button', data-toggle='collapse', data-target='#nav')
			span.icon-bar
			span.icon-bar
			span.icon-bar
		a.navbar-brand(data-toggle='modal', data-target='#credits', role='button') #{title}
	#nav.collapse.navbar-collapse
		ul.nav.navbar-nav.navbar-right
			each item in menu
				li: a(href='#{item.link}') #{item.name}