#username.row-fixed
  span.badge PLAYER
#stats.row-fixed
  ul.unstyled.flex
    li: span.badge.badge-inverse 0 
      i.icon-white.icon-road(alt='Longest')
    li: span.badge.badge-inverse 0 
      i.icon-white.icon-user(alt='Largest')
    li: span.badge.badge-inverse 0 
      i.icon-white.icon-trash(alt='Progress')       
    li: span.badge.badge-inverse 0 
      i.icon-white.icon-flag(alt='Victory')
    li: span.badge.badge-inverse 0 
      i.icon-white.icon-briefcase(alt='Resources')
    li: span.badge.badge-inverse 0 
      i.icon-white.icon-gift(alt='Development')
#progress.row-fixed
  .bar.bar-success(style="width:0%;")
  .bar.bar-warning(style="width:0%;")
  .bar.bar-danger(style="width:0%;")