.col-sm-3
	.panel.panel-primary
		.panel-heading
			h3.panel-title: a Panel Heading
		.panel-body Panel Body
		ul.list-group
			li.list-group-item Andrew
			li.list-group-item Brian
			li.list-group-item Catherine
			li.list-group-item David
