ul.unstyled
  li(style="text-align:center;")
    span.badge PLAYER
  li(style="text-align:center;")
    span.badge.badge-inverse 0 
      i.icon-white.icon-road(alt='Longest')
  li(style="text-align:center;")
    span.badge.badge-inverse 0 
      i.icon-white.icon-user(alt='Largest')
  li(style="text-align:center;")
    span.badge.badge-inverse 0 
      i.icon-white.icon-trash(alt='Progress')       
  li(style="text-align:center;")
    span.badge.badge-inverse 0 
      i.icon-white.icon-flag(alt='Victory')
  li(style="text-align:center;")
    span.badge.badge-inverse 0 
      i.icon-white.icon-briefcase(alt='Resources')
  li(style="text-align:center;")
    span.badge.badge-inverse 0 
      i.icon-white.icon-gift(alt='Development')
  li
    .progress(style="margin:0;")
      .bar.bar-success(style="width:0%;")
      .bar.bar-warning(style="width:0%;")
      .bar.bar-danger(style="width:0%;")