table.table.table-condensed
  thead
    tr.info
      th(colspan="3",style="text-align:left;")
        span.badge PLAYER
  tfoot
    tr
      td(colspan="3")
        .progress
          .bar.bar-success(style="width:0%;")
          .bar.bar-warning(style="width:0%;")
          .bar.bar-danger(style="width:0%;")
  tbody
    tr
      td(style="text-align:center;")
        span.badge.badge-inverse 0 
          i.icon-white.icon-trash
      td(style="text-align:center;")
        span.badge.badge-inverse 0 
          i.icon-white.icon-user
      td(style="text-align:center;")
        span.badge.badge-inverse 0 
          i.icon-white.icon-road
    tr          
      td(style="text-align:center;")
        span.badge.badge-inverse 0 
          i.icon-white.icon-flag
      td(style="text-align:center;")
        span.badge.badge-inverse 0 
          i.icon-white.icon-briefcase
      td(style="text-align:center;")
        span.badge.badge-inverse 0 
          i.icon-white.icon-gift