extends layout

block content
  .container-narrow
    .masthead
      ul.nav.nav-pills.pull-right
        li.active: a(href='/') Home
        li: a(href='#credits') Credits
        li: a(href='#login') Log In
      h3.muted #{title}
    hr 
    .jumbotron
      h1 Game Page
      p.lead Router testing, <br> This is game #{gameid}
    hr
  .footer
    .container-narrow
      p.muted.credit
        a(href='http://www.github.com/betovar/caten#license',
        style='text-decoration:none;') © Brian Tovar 2013
  link(rel='stylesheet', href='/stylesheets/homepage.css')
  script(src='/jquery/jquery-1.9.0.min.js')