#hexes { stroke:black; stroke-width:3; }
#road path { stroke-linecap:round; }
#ocean { stroke:black; stroke-width:5; fill:dodgerblue; }

.generic { fill:dodgerblue; }
.ore { fill:grey; }
.wool { fill:steelblue; }
.lumber { fill:forestgreen; }
.grain { fill:goldenrod; }
.brick { fill:darkred; }
.desert { fill:#EEE; }
.hills { fill:#EBB; }
.forest { fill:#BEB; }
.fields { fill:#EEB; }
.pasture { fill:#BEE; }
.quarry { fill:#BBB; }

.chit { stroke:black; stroke-width:3; fill:khaki; }
text { text-align:center; text-anchor:middle; 
	dominant-baseline:central; font-family:serif; 
	font-size:24px; pointer-events:none; }

.harbor { stroke:black;	stroke-width:3; }
.harbor:hover { opacity:0.5; }
.harbor circle { fill:inherit; stroke:white; }
.harbor rect { fill:white; }
.harbor text { text-align:center; text-anchor:middle; 
	dominant-baseline:central; font-family:serif; 
	fill:black; font-size:20px; pointer-events:none; }

.unowned { opacity:0; fill:grey; stroke:grey; stroke-width:3; }
.unowned:hover { xopacity:1; }
.nw { fill:deeppink; stroke:deeppink; }
.ne { fill:darkorange; stroke:darkorange; }
.se { fill:darkviolet; stroke:darkviolet; }
.sw { fill:gold; stroke:gold; }

.pull {	position:absolute; width:20%; }