#ocean { stroke:black; stroke-width:5; fill:#06C; }
#hexes { stroke:black; stroke-width:3; }
#road path { stroke-linecap:round; }

.brick, .hills { fill:#da4f49; background-color:#da4f49 }
.lumber, .forest { fill:#5bb75b; background-color:#5bb75b }
.wool, .pasture { fill:#49afcd; background-color:#49afcd }
.grain, .fields { fill:#faa732; background-color:#faa732 }
.ore, .quarry { fill:#666; background-color:#666 }
.generic, .desert { fill:#BBB; }

.chit { stroke:black; stroke-width:3; fill:khaki; }
text { text-align:center; text-anchor:middle; 
	dominant-baseline:central; font-family:serif; 
	font-size:24px; pointer-events:none; }

.harbor { stroke:black;	stroke-width:3; }
.harbor:hover { opacity:0.5; }
.harbor circle { fill:inherit; stroke:inherit; }
.harbor rect { fill:inherit; }
.harbor text { font-size:20px; }

.settle { fill:grey; stroke:white; stroke-width:3; }
.unowned { opacity:0; }
.unowned:hover { opacity:1; }
.p1 { fill:crimson; stroke:crimson; background-color:crimson; }
.p2 { fill:limegreen; stroke:limegreen; background-color:limegreen; }
.p3 { fill:darkviolet; stroke:darkviolet; background-color:darkviolet; }
.p4 { fill:dodgerblue; stroke:dodgerblue; background-color:dodgerblue; }

.profile { position:absolute; width:100%; margin:5px; }
#northwest { left:0; top:0; }
#northeast { right:0; top:0; }
#southeast { right:0; bottom:0; }
#southwest { left:0; bottom:0; }
#username { text-align:center; }
.carousel-seats ul { position:relative; width:100%; display:table; }
.stats ul { position:relative; width:60%; left:20%; display:table; }
.stats ul li, .carousel-seats ul li {
	display:table-cell; padding:2px 0; text-align:center; 
	width:20%; list-style:none;
}

@media (max-width: 480px) {
#controls { width:100%; }
#hand li a { padding:10px; }
}